# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
*.sqlite3

# TouchDesigner
Backup/
# *.tox
*.bak
*.*.toe
test/


# VS Code
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
/logs

# Other
.idea/